<div class="container">
	<div class="row">

<% #to change styling of the story panels based on which mashable set %>
<% case @mashset %>
<% when "new" %>
<% mashset_context = 'info' %>
<% when "rising" %>
<% mashset_context = 'warning' %>
<% when "hot" %>
<% mashset_context = 'danger' %>
<% end %>

		<div class="col-sm-3">
			<div class="panel panel-<%= mashset_context %>">

			  <div class="panel-heading">
					<h1> Mashable</h1>
					
					<div class="btn-group btn-group-xs">

					  <button type="button" class="btn <%= @mashset == "new" ? "btn-info active" : "btn-default" %>" onClick="parent.location='/?set=new&articlecount=<%= @articlecount %>'">New</button>
					  <button type="button" class="btn <%= @mashset == "rising" ? "btn-warning active" : "btn-default" %>" onClick="parent.location='/?set=rising&articlecount=<%= @articlecount %>'">Rising</button>
					  <button type="button" class="btn <%= @mashset == "hot" ? "btn-danger active" : "btn-default" %>" onClick="parent.location='/?set=hot&articlecount=<%= @articlecount %>'">Hot</button>

					</div>

					<div class="btn-group btn-group-xs">

					  <button type="button" class="btn <%= @articlecount == '10' ? "btn-#{mashset_context} active" : "btn-default" %>" onClick="parent.location='/?set=<%= @mashset %>&articlecount=10'">10</button>
					  <button type="button" class="btn <%= @articlecount == '50' ? "btn-#{mashset_context} active" : "btn-default" %>" onClick="parent.location='/?set=<%= @mashset %>&articlecount=50'">50</button>
					  <button type="button" class="btn <%= @articlecount == '100' ? "btn-#{mashset_context} active" : "btn-default" %>" onClick="parent.location='/?set=<%= @mashset %>&articlecount=100'">100</button>

					</div>

				</div>

				<% if @channels %>
				<div class="list-group">
				  
						<% if @channels && @authors %>
							<a href="#" class="list-group-item mashfilter"><strong>Filter by Channel:</strong></a>
						<% else %>
							<a href="/?set=<%= @mashset %>" class="list-group-item mashfilter"><strong>[Filtering by Channel] <span class="text-danger pull-right">remove filter</span></strong></a>
						<% end %>
				  
					<% @channels.each do |chan,count| %>
					
							<a class="list-group-item list-group-item-info mashfilter <%= chan == @filter ? "active" : "" %>" href="/filter?filter=<%= chan.gsub(/\&/, '%26') %>&type=channel&set=<%= @mashset %>&articlecount=<%= @articlecount %>"><%= chan %><span class="badge"><%= count %></span></a>
						
					<% end %>

				</div>
				<% end %>

				<% if @authors %>
				<div class="list-group">
				  
						<% if @channels && @authors %>
							<a href="#" class="list-group-item mashfilter"><strong>Filter by Author:</strong></a>
						<% else %>
							<a href="/?set=<%= @mashset %>" class="list-group-item mashfilter"><strong>[Filtering by Author] <span class="text-danger pull-right">remove filter</span></strong></a>
						<% end %>
				  
					<% @authors.each do |auth,count| %>
					
						<a class="list-group-item list-group-item-success mashfilter <%= auth == @filter ? "active" : "" %>" href="/filter?filter=<%= auth %>&type=author&set=<%= @mashset %>&articlecount=<%= @articlecount %>"><%= auth %> <span class="badge"><%= count %></span></a>
						
					<% end %>


				</div>
				<% end %>

			</div>
		</div>

		<div class="col-sm-9">
			<div class="row equal">
			<% @stories.each_with_index do |story, index| %>
			
			<% if (index + 1)%2 != 0 %>
				<div class="row equal">
			<% end %>
				<div class="col-sm-6">
					<div class="panel panel-<%= mashset_context %>">

					  <div class="panel-heading">
					  	<h5><span class="label label-primary"><%= story['channel'] %></span></h5>
					    <h5 class="panel-title"><a href="<%=story['link']%>" target="_blank"><%= story['title'] %></a></h5>
					    <h5><span class="label label-success">by <%= story['author'] %></span></h5>
					  </div>
					  <div class="panel-body">
					  	
							<a href="<%=story['link']%>" target="_blank"><img src='<%= story['image'] %>' class="img-responsive top-buffer"></a>
							<h6><%=story['excerpt']%> </h6>
							<% if story['shares']['twitter'] %> 

									<button class="btn btn-warning btn-xs" data-toggle="modal" data-remote="/tweets?filter=<%= story['_id']%>&type=_id&set=<%= @mashset %>&articlecount=<%= @articlecount %>" data-target=".bs-<%= story['_id']%>-modal-sm"><%= story['shares']['twitter'] %> Tweets - View 5 most recent</button>

									<div class="modal fade bs-<%= story['_id']%>-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-lg">
									    <div class="modal-content">

												<div class="panel panel-<%= mashset_context %>">
												  <div class="panel-heading">
												  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												    <h3 class="panel-title"><%= story['title'] %></h3>
												  </div>
												  <div class="panel-body">
												  	
											    	<div class="row text-center">
												      <div class="col-sm-12 top-buffer bottom-buffer">
												      	<h4> Loading 5 most recent tweets...</h4>
													      <img src="img/ajax-loader.gif">
															</div>
														</div>
														
												  </div>
												</div>


									    </div>
									  </div>
									</div>

							<% end %>
							
					  </div>
					</div>
				</div>
			<% if (index + 1)%2 == 0 %>
				</div><!-- .row -->
			<% end %>
			<% end %>

		</div>

	</div>
</div>

